body {
    background-color: black;
    margin: 0px;
}


#images-and-links {
    display: flex;
}


#spslogo {
    flex-flow: row-reverse;
    margin-left: 4vh;
    margin-top: 4vh;
    height: 100px;
    width: 100px;
    background-color: lawngreen;
}



.main-area1 {
    backdrop-filter: brightness(60%);
    height: 85.2vh;
}

.main-area{
    align-items: center;
    justify-content: center;
    background-image: url("sadiq.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85.2vh;
}


#donate {
    background-color: gold;
    border-radius: 20px;
    filter: none;
}


#menu {
    display: flex;
    margin-left: 35vh;
    padding-top: 2vh;
    filter: none;
}

#menu > ul > a {
    margin: 10px;
    color: chartreuse;
}


h1.main-heading-my-boi {
    color: violet;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-notes {
    display: flex;
    flex-direction: column;
}

