body {
    background-color: rgb(37, 36, 36);
    margin: 0px;
}

#main-notes {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.main-area1 {
    backdrop-filter: brightness(60%);
    height: 85.2vh;
}

.main-area{
    align-items: center;
    justify-content: center;
    background-image: url("sadiq.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85.2vh;
}


#images-and-links {
    display: flex;
}

#dropdown-content {
    backdrop-filter: brightness(60%);
    text-align: right;
}

#spslogo {
    margin-left: 4vh;
    margin-top: 4vh;
    height: 100px;
    width: 100px;
    background-color: lawngreen;
}

#donate {
    size: inherit;
    height: 40px;
    width: 200px;
    margin-left: 40px;
    background-color: gold;
    border-radius: 20px;
    filter: none;
}




#menu {
    display: flex;
    padding-top: 7vh;
    margin-left: 10vh;
    filter: none;
}

#menu > ul > a {
    color: lightcyan;
    padding-top: 10px;
    font: "Railway";
    font-size: 17px;
    padding: 10px;
}

h1.main-heading-my-boi {
    color: violet;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#onewithpics {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    
    
}

/* #onewithpics > div {
    margin-left: 70px;
    width: 500px;
} */


#thenums {
    font-size: 100px;
    font-weight: 1000;
    color: rgb(238, 232, 238);
}

#thelets {
    color: rgb(238, 232, 238);
}

#pic1 {
    background-color: teal;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pic2 {
    background-color: thistle;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

#pic3 {
    background-color: tomato;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pic4 {
    background-color: violet;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pic5 {
    background-color: violet;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#pic6 {
    background-color: violet;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}